.myOffersContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    align-items: center;
}

.myOffersContainer h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: #094227;
}